.modalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    max-width: 400px;
    flex-direction: column;
    margin: 0 auto;
  }
  
.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
.confirmationButtons {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
.confirmationButtons button {
    margin-right: 10px;
  }

.confirmationButtons button:last-child {
    margin-right: 0;
  }