.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  /* margin-bottom: 10px; */
  overflow: auto;
  justify-content: center;
}

.Link {
  text-decoration: none;
}